/* Date picker */
.DateInput, .DateInput_1, .DateInput_input, .DateInput_input_1, .SingleDatePickerInput {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit;
}

.DateInput_input__focused, .DateInput_input__focused_2 {
    outline: 0;
    background: #fff;
    border: 0;
    /*border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #008489;
    border-left: 0;*/
}

.SingleDatePicker, .SingleDatePicker_1 {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.SingleDatePicker:focus, .SingleDatePicker_1:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.SingleDatePickerInput__disabled, .DateInput__disabled, .DateInput_input__disabled {
    height: 100%;
    width: 100%;
    background: #e9ecef;
}

.SingleDatePickerInput__withBorder {
    border-radius: 0px;
    border: 0px solid #dbdbdb;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #87715a;
    border: 1px double #87715a;
    color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-top: 26px solid transparent;
    border-right: 33px solid #87715a;
    bottom: 0;
    right: 0;
}

/*.DayPicker, .DayPicker_transitionContainer {
    position: relative;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}*/

/* Text area */
textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}