/* Date picker */
.DateInput_input, .DateInput_input_1 {
    width: 100%;
    margin: 0px;
    padding: 0;
    border: none;
    font-size: inherit;
    line-height: inherit;
    border-radius: inherit;
}

.SingleDatePickerInput, .SingleDatePickerInput_1,
.SingleDatePickerInput__withBorder, .SingleDatePickerInput__withBorder_2, .SingleDatePickerInput__showClearDate,
.SingleDatePickerInput__showClearDate_3 {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
}

.DateInput, .DateInput_1 {
    height: 100%;
    width: 100%;
    outline: 0;
    background: none;
    border-radius: 0.25rem;
    /*border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #008489;
    border-left: 0;*/
}

.DateInput, .DateInput_1, .DateInput__disabled, .DateInput__disabled_2 {
    outline: 0;
    padding: 0;
    background: none;
    border-radius: 0.25rem;
    /*border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #008489;
    border-left: 0;*/
}


.DateInput__disabled, .DateInput__disabled_2 {
    outline: 0;
    padding: 0;
    background: none;
    border-radius: 0.25rem;
    /*border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #008489;
    border-left: 0;*/
}

.DateInput_input__disabled {
    background-color: #e9ecef;
    font-style: normal;
}

.DateInput_input__focused, .DateInput_input__focused_2 {
    color: #212529;
    background-color: #fff;
    border-color: #c4b3a1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(135, 113, 90, 0.25);
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.DateInput_screenReaderMessage, .DateInput_screenReaderMessage_1 {
    display: none;
}

.DateInput_input, .DateInput_input_1,
.DateInput_input__focused, .DateInput_input__focused_2 {
    height: 100%;
    width: 100%;
    padding: 0.375rem 0.75rem;
}

.SingleDatePicker, .SingleDatePicker_1 {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #87715a;
    border: 1px double #87715a;
    color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-top: 26px solid transparent;
    border-right: 33px solid #87715a;
    bottom: 0;
    right: 0;
}

/*.DayPicker, .DayPicker_transitionContainer {
    position: relative;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}*/

/* Text area */
textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea:focus {
    color: #212529;
    background-color: #fff;
    border-color: #c4b3a1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(135, 113, 90, 0.25);
}

.Select:has-value, .Select:is-clearable, .Select:is-disabled, .Select:is-searchable .Select--single {
    background-color: #444;
}

/* Upload */
.Upload {
    border: 1px solid #ced4da;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
    /*background-color: #fff;*/
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%; /* Assuming you want it to span the full width */
    /*height: 60px; /* Adjust based on your preference */
    /*line-height: 60px; /* Center the text vertically */
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    /*text-align: center;*/
  }
  
  .Upload:hover {
    border-color: #b3b3b3; /* Slightly darker border on hover */
  }
  
  .Upload:focus {
    border-color: #c4b3a1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(135, 113, 90, 0.25);
  }